/* Etch a Sketch style.css */

body {
    font-family: sans-serif;
}

p {
    color:blue;
}

.row {
    display: flex;
    flex-shrink: 0;
}

#sketchContainer {
    margin: 10px;
}

.column {
    flex-shrink: 0;
    background-color: lightgray;
    border: 1px solid gray;
    transition: 0.07s;
}

.hover {
    background-color: blue;
}