/* Etch a Sketch style.css */

body {
    font-family: sans-serif;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color:blue;
}

.row {
    display: flex;
    flex-shrink: 0;
}

#sketchContainer {
    margin: 10px;
    border: 2px solid black;
}

.column {
    flex-shrink: 0;
    background-color: white;
    border: 0px solid lightgray;
    transition: 0.07s;
}

.hover {
    background-color: blue;
}

button {
    background-color: darkgrey;
}

h1 {
    padding: 0;
    margin: 5px;
}